In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [4]:
df_ordered = pd.read_csv('gobike_ordered.csv')
df_ordered.drop(columns=['Unnamed: 0','index'], inplace=True)
#some type convertions
df_ordered['start_time'] = pd.to_datetime(df_ordered['start_time'])
df_ordered['end_time'] = pd.to_datetime(df_ordered['end_time'])
df_ordered['start_station_id'] = df_ordered['start_station_id'].astype(int).astype(str)
df_ordered['end_station_id'] = df_ordered['end_station_id'].astype(int).astype(str)
df_ordered['bike_id'] = df_ordered['bike_id'].astype(int).astype(str)

In [6]:
df_counts = df_ordered.copy()
df_counts['start_station_id'] = 's-'+ df_counts['start_station_id'].astype(str)
df_counts['end_station_id'] = 'f-'+ df_counts['end_station_id'].astype(str)

In [7]:
df_counts.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip,weekday,hour,transfered
0,1038,2019-02-01 07:26:39.895,2019-02-01 07:43:58.101,s-345,Hubbell St at 16th St,37.766483,-122.398279,f-25,Howard St at 2nd St,37.787522,-122.397405,11,Customer,1978.0,Male,No,4,7,NaN
1,153,2019-02-01 18:55:10.826,2019-02-01 18:57:44.641,s-25,Howard St at 2nd St,37.787522,-122.397405,f-22,Howard St at Beale St,37.789756,-122.394643,11,Subscriber,1976.0,Male,No,4,18,False
2,1101,2019-02-02 10:32:08.350,2019-02-02 10:50:29.868,s-22,Howard St at Beale St,37.789756,-122.394643,f-86,Market St at Dolores St,37.769305,-122.426826,11,Subscriber,1980.0,Male,No,5,10,False
3,199,2019-02-02 11:04:37.014,2019-02-02 11:07:56.659,s-86,Market St at Dolores St,37.769305,-122.426826,f-97,14th St at Mission St,37.768265,-122.420110,11,Subscriber,NaN,NaN,No,5,11,False
4,636,2019-02-02 20:12:59.504,2019-02-02 20:23:36.300,s-97,14th St at Mission St,37.768265,-122.420110,f-43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,11,Subscriber,NaN,NaN,No,5,20,False